@font-face {
   font-family: 'Futura Light BT';
   font-display: swap;
   src: url('file:///C:/Users/COMPUTER/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-02-27_165351/fonts/Futura%20Light%20BT/font.ttf');
}
